
<div class="theme-invert">
  <nav class="mainmenu">
    <div class="container">
      <div class="dropdown">
        <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#head" class="active">Welcome</a></li>
          <li><a href="#about">About </a></li>
          <li><a href="#themes">My Work</a></li>
          <li><a href="#contact">Contact </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="indexinfo">
    <!-- Main (Home) section -->
    <section class="section" id="head">
      <div class="container">

        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

            <h1 class="title">Shane Miller</h1>
            <h2 class="subtitle"> </h2>
            <h3 class="subtitle">Web Developer </h3>


          </div> <!-- /col -->
        </div> <!-- /row -->

      </div>
    </section>
  </div>
  <!-- Second (About) section -->
  <section class="section" id="about">

    <div class="container">

      <h2 class="text-center title">About</h2>
       <div id="myDiv2">
      <div class="thumbnail">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">    
            <h5><strong>Shane Miller<br></strong></h5>
            <br>
            <p>From where I stand in this picture, on the edge of the Eurasian tectonic plate in Iceland, to the sunny shores of California.  I have certainly come a long way from where I started in Australia.</p> 

            <p>I have always believed in seizing the opportunities that life presents me.  When I was 21 I left Gold Coast, Australia to travel the world, and have never regretted that choice.  I worked London winters and spent summers relaxing in the Greek isles. I traveled from Sweden to Thailand and never missed the chance for an adventure. I also had the opportunity to meet new people whose paths I never would have crossed had I stayed in Australia.</p> 

            <p>The reason I have gotten this far is because I work for what I want.  I learned to be self-reliant and that the only way to make my dreams a reality is to do it myself. I moved to America in 2009, and now I live in one of the greatest cities, San Francisco, learning to become a web developer.</p>

          </div>
          <div class="col-sm-4">
            <h5><strong>More<br></strong></h5>    
            <br>
            <p> I have recently completed a 12-week immersive course at General Assembly, where I built a strong skill set in full stack web development. 

              During this course, I have spent over 480+ hours learning from experienced web developers. They taught me the latest technologies in web development, and have instructed me upon best practices in coding. In addition to my time in this program I have spent over 400+ hours supplementing my learning with private instruction and self-teaching as well as a previous course that focused solely on front end web development and design. 
              <br>
              Languages: Ruby, Javascript, HTML5, CSS3
              <br>
              Frameworks: Ruby on Rails, Sinatra, AngularJS, 

              Databases: PostgreSQL, SQLite3
              <br>
              Other technologies: Git, jQuery, Heroku, APIs, RSpec, Ajax, Responsive Webdesign
            </p>

            <p>I strive to achieve, and am determined to work for a company that inspires me and that will help prepare me for the next chapter of my life.  As always, I am sure it will be an adventure. 
            </p> 


            <h5><strong>My links<br></strong></h5>    
            <p><a href="https://github.com/shanemiller500/" target="_blank">Github</a> / <a href="https://twitter.com/KingShanemiller" target="_blank">Twitter</a> / <a href="https://www.linkedin.com/profile/view?id=311148578&trk=nav_responsive_tab_profile_pic" target="_blank">LinkedIn</a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Third (Works) section -->
  <section class="section" id="themes">
    <div class="container">

      <h2 class="text-center title">My Projects</h2>
      <p class="lead text-center">
        Here are a few projects I have made during the past few months in the WDI 12 week cohort.
      </p>
      <div id="myDiv">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-3">
            <div class="thumbnail">

              <div class="caption">
                <h3>Ritly</h3>
                <p>Ritly is a url shortener rails app that works just like bitly.  This is a standard app that we are asked to build to show our understanding of Ruby, Rails and Postgres database.
                </p>
           
                <p> <a href="http://ritlyapp.herokuapp.com/" target="_blank"  class="btn btn-default" role="button"> Ritly</a><br> <a href="http://github.com/shanemiller500/ritly" target="_blank"  class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-3">
            <div class="thumbnail">
              <div  class="caption">
                <h3 >Movie App</h3>
                <p>This movie app uses Sinatra framework with Ruby, I used the OMDB API for the request therefore you can look up any movie you desire.  Unfortunately, images from the OMDB API are not permitted to show on Heroku, where this app is currently hosted. </p>
                <p> <a href="http://shanesmovieapp.herokuapp.com/" target="_blank" class="btn btn-default" role="button"> Movie app</a> <br><a href="http://github.com/shanemiller500/Sinatra-Movie-App-Part-Deux-Mini-Project" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-3">
            <div class="thumbnail">
              <div class="caption">
                <h3>Travel page</h3>
                <p>I love to travel and I have done so for the past decade, This  rails app is based on my travel experence with budget airlines from all over the world, I have combined all budget airlines on one easy to use site making it even easier to find good, inexpensive flights to destinations all over the planet. (I still have a lot of work to do on this app)</p>
                <p> <a href="http://shanes-page.herokuapp.com/home" target="_blank" class="btn btn-default" role="button"> Travel Page app</a><br> <a href="http://github.com/shanemiller500/project1" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-3">
            <div class="thumbnail">
              <div class="caption">
                <h3>My blog app</h3>
                <p>I made this rails blog app as a weekend project, I worked mainly with ruby, and jQuery on this.  </p>
                <p> <a href="http://shanemblogapp.herokuapp.com/" target="_blank" class="btn btn-default" role="button"> Blog App</a> <br><a href="http://github.com/shanemiller500/shanesblog" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-3 ">
            <div class="thumbnail">
              <div class="caption">
                <h3>Travel page V2</h3>
                <h4>*What I am working on now*</h4>
                <p>I have started to remake the travel app from the beginning, so far this app is mainly front-end. For the back-end I am working with multiple API's to get the flight price data from the airlines to display on a map. The users will be able to tailor a map according to the places they want to visit and receive cheap flight info for their desired destinations.   </p>
                <p> <a href="https://stp.herokuapp.com/" target="_blank" class="btn btn-default" role="button">Travel pageV2</a><br> <a href="http://github.com/shanemiller500/travelPage" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>


         <!--  <div class="col-sm-8  col-sm-offset-3">
            <div class="thumbnail">
              <div class="caption">
                <h3>Judgment Day</h3>
                <p>Judgment day was a group project, I worked with one other student to make this app within a few days. Judgement day is a cross between Glassdoor and Linkedin where you can rate the core positions and the companies you previously or currently work.  As a bonus, you can also upload your resume for new recruitment opportunities.(My team mate and need have some work to do on this, We made it this far in 3 days...)  </p>
                <p> <a href="https://still-brushlands-3920.herokuapp.com/" target="_blank" class="btn btn-default" role="button">Judgment Day</a><br> <a href="https://github.com/shanemiller500/Judgement-Day" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div> -->

           <div class="col-sm-8  col-sm-offset-3">
            <div class="thumbnail">
              <div class="caption">
                <h3>Yogini Teeny</h3>
                <p>YoginiTeeny is a yoga instructer based in Boulder, CO.  This is a single page rails app using mainly ruby, Javascript, angular and jQuery.  There is a backend for Teeny to update her classes.  </p>
                <p> <a href="http://yoginiteeny.herokuapp.com/" target="_blank" class="btn btn-default" role="button">YoginiTeeny</a><br> <a href="http://github.com/shanemiller500/YoginiTeeny-" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>


  </section>

  <!-- Fourth (Contact) section -->
  <section class="section" id="contact">
    <div class="container">

      <center><h1 class="title">Get in touch</h1></center>
      <div class="thumbnail">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h2>Have any questions?</h2>
            <p>Feel free to email me, have a great day</p>
            <p><br><br></p>
            <ul class="list-inline list-social">
              <li><a href="mailto:shanemiller500@gmail.com" class="btn btn-link"><i class="fa fa-envelope fa-fw"></i> Email</a></li>
              <li><a href="https://github.com/shanemiller500" target="_blank" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=311148578&trk=nav_responsive_tab_profile_pic" target="_blank" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
              <li><a href="https://twitter.com/KingShanemiller" target="_blank" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

