
<body class="theme-invert">

<nav class="mainmenu">
  <div class="container">
    <div class="dropdown">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#head" class="active">Welcome</a></li>
        <li><a href="#about">About me</a></li>
        <li><a href="#themes">My Work</a></li>
        <li><a href="#contact">Contact me</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

        <!-- Site Title, your name, HELLO msg, etc. -->
        <h1 class="title">ShaneMiller</h1>
        <h2 class="subtitle">Welcom to my home page</h2>

        <!-- Short introductory (optional) -->
        <h3 class="tagline">
          Web Developer extroidner
        </h3>
      </div> <!-- /col -->
    </div> <!-- /row -->
  
  </div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
  <div class="container">
  
    <h2 class="text-center title">About me</h2>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">    
        <h5><strong>Shane MIller<br></strong></h5>
        <p>From where I stand in this picture, on the edge of the Eurasian tectonic plate in Iceland, to the sunny shores of California.  I have certainly come a long way from where I started in Austalia.</p> 

             <p>I have always believed in seizing the opportunities that life presents me.  When I was 21 I left Gold Coast, Australia to travel the world, and have never moved back.  I worked London winters and spent summers relaxing in the Greek isles. I traveled from Sweden to Thailand and never missed the chance for an adventure. I also had the opportunity to meet new people whose paths I never would have crossed had I stayed in Australia.</p> 

 
      </div>
      <div class="col-sm-4">
        <h5><strong>More<br></strong></h5>    
        

            <p>I moved to America in 2009, and now I live in one of the greatest cities learning to become a web developer.  The reason I have gotten this far is because I work for what I want.  I learned to be self-reliant and that the only way to make my dreams a reality is to do it myself.  I am determined to complete the WDI course and prepared for this next chapter of my life.  As always, I am sure it will be an adventure.</p> 
        <h5><strong>My links<br></strong></h5>    
        <p><a href="http://be.net/pozhilov9409">Behance</a> / <a href="https://twitter.com/serggg">Twitter</a> / <a href="http://linkedin.com/pozhilov">LinkedIn</a> / <a href="https://www.facebook.com/pozhilov">Facebook</a></p>
      </div>
    </div>
  </div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
  <div class="container">
  
    <h2 class="text-center title">My Projects</h2>
    <p class="lead text-center">
      Here are a few projects I have made during the past few months in the WDI 12 week immersive cohort I attended.
    </p>
    <div class="row">
      
        <div class="thumbnail">
  
          <div class="caption">
            <h3>Ritly</h3>
            <p>Ritly is a url shortener rails app that is just like bitly.</p>
            <p> <a href="http://ritlyapp.herokuapp.com/" class="btn btn-default" role="button">Check out Ritly</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Movie App</h3>
            <p>This movie app is a Sintara app, I used the OMDB API for the request therefor you can look up any movie you desier.</p>
            <p> <a href="http://shanesmovieapp.herokuapp.com/" class="btn btn-default" role="button">Check out the Movie app</a></p>
          </div>
        </div>
      </div>
      
        <div class="thumbnail">
          <div class="caption">
            <h3>Travel page</h3>
            <p>I love to travel and I have done so for the past decade, This  rails app is based on my travel experence with budget airlines from all over the world, I have cobined all budget airlines on one site easy to move around and even eayser to find good cheap flighta and destnations all over the planet.</p>
            <p> <a href="http://shanes-page.herokuapp.com/home" class="btn btn-default" role="button">Click to checkout Travel Page app</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>My blog app</h3>
            <p>I made this rails blog app for a weekend project, I worked mainly with AJAX ruby jQuery with this  </p>
            <p> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

        
        <div class="thumbnail">
          <div class="caption">
            <h3>Judgment Day</h3>
            <p>Judgment day was a group project that I had, I worked with one other student to make this app within a few days, Judgement day is a cross between glassdoor and linkedin where you can rate the core position and the company you prevously or currently work for while uploading your resume to possably get scouted by someone elce.  </p>
            <p> <a href="http://shanes-page.herokuapp.com/home" class="btn btn-default" role="button">Click to checkout Judgment Day</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Adventure libary</h3>
            <p>Adeenture libary is a app to play adventure games on, You can create your own play a localy stored game of scrape another url to play theres!</p>
            <p> <a href="#" class="btn btn-default" role="button">Click to play Adventure Libary</a></p>
          </div>
        </div>
      </div>


    </div>

  </div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
  <div class="container">
  
    <h2 class="text-center title">Get in touch</h2>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead">Have any questions?</p>
        <p>Feel free to email me, or drop me a line in Twitter!</p>
        <p><b>shanemiller500@gmail.com</b><br><br></p>
        <ul class="list-inline list-social">
          <li><a href="https://twitter.com/serggg" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
          <li><a href="https://github.com/pozhilov" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
          <li><a href="http://linkedin/in/pozhilov" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
</body>
